# Data Organizing Frequency Distribution using Jupyter 

> An excellent guide to organize data by constructing a frequency distribution table using Jupyter Notebook
- toc:true- branch: master
- badges: true
- comments: true
- author: JF
- categories: [fastpages, jupyter]
- image: images/fd_image.png

#### Frequency Distribution

Statistians are known to describe situations, draw conclusions, and make inferences about events. Generally, to do so, they first organize the data into a meaningful way by constructing a frequency distribution. Then, they present them in a way that people could understand by constructing statistical charts and graphs. There are 3 types of frequency distributions: categorical, grouped, and ungrouped.

We use categorical frequency distribution when we are dealing with norminal and ordinal type data. Both grouped and ungrouped frequency distributions are used for data that are numerical. When the range of the data is small, we use grouped frequency distributions while we use ungrouped frequency distributions when the range of the data is large.

**Suppose that 25 students in a college were given a blood test to determine their blood level type. At the same time, the color of their hair was noted as well as the distance of their houses to the school. The data set is presented in an excel spreadsheet and will be imported to be organized by the use of frequency distributions.**

In [63]:
import pandas as pd
import numpy as np

In [64]:
# Let us see the first top data entries
rawdata = pd.read_excel('studentinfo.xlsx')
rawdata.head()

            Name  Age Blood Type Hair Color  Distance (miles)
0  Willie Morris   22          A       blue                 4
1     Patty Todd   19          B       blue                 8
2     Traci Rice   31          B      black                 8
3    Doris Lynch   42         AB      brown                 9
4  Emilio Rogers   35          O      black                 8

In [65]:
# Let us isolate the columns we want to use to construct the frequency distributions
df= pd.read_excel('studentinfo.xlsx')
req_columns = ["Blood Type", "Hair Color", "Distance (miles)"]
df = df[req_columns]
print("Shape of Dataset :", df.shape)
df.head(7)

Shape of Dataset : (25, 3)

  Blood Type Hair Color  Distance (miles)
0          A       blue                 4
1          B       blue                 8
2          B      black                 8
3         AB      brown                 9
4          O      black                 8
5          O      brown                 5
6          O        Red                 9

#### Categorical Frequency Distributions for "Blood Type"

In [71]:
df.groupby("Blood Type").size().reset_index(name = "frequency")

  Blood Type  frequency
0          A          5
1         AB          4
2          B          7
3          O          9

As we notice, a frequency distribution gives us a more general way of organizing the data. We can see that there are more students with blood type O.

#### Categorical Frequency Distributions for "Hair Color"

In [72]:
df.groupby("Hair Color").size().reset_index(name = "frequency")

  Hair Color  frequency
0        Red          2
1      black          9
2       blue          5
3      brown          6
4        red          3

There are more students with black hair, followed by students with brown hair.

#### Grouped Frequency Distribution

In [79]:
df.groupby("Distance (miles)").size().reset_index(name = "frequencya")

   Distance (miles)  frequencya
0                 4           2
1                 5           3
2                 6           1
3                 7           5
4                 8           7
5                 9           4
6                10           2
7                11           1

In [ ]:
Cumulatively, we see that 18 students live within 8 miles or less from the school.